
  body {
    background: url('../img/Fondo.gif') no-repeat center center fixed;
    background-size: cover;
  }

body {
      background-color: #f0f4f8; /* ligero color de fondo */
    }

    

    #logo {
      display: block;
      margin: 0 auto 20px auto;
      max-width: 150px;
    }

    #btnEntrar {
      background-color: #0d6efd; /* color primario Bootstrap ajustado */
      color: white;
      border: none;
    }

    #btnEntrar:hover {
      background-color: #0b5ed7;
    }
