<<<<<<< HEAD
  body {
    background: url('../img/Fondo.gif') no-repeat center center fixed;
    background-size: cover;
  }
=======
body {
      background-color: #f0f4f8; /* ligero color de fondo */
    }

    .card {
      background-color: #ffffffcc; /* tarjeta semi-transparente */
      border-radius: 1rem;
    }

    #logo {
      display: block;
      margin: 0 auto 20px auto;
      max-width: 150px;
    }

    #btnEntrar {
      background-color: #0d6efd; /* color primario Bootstrap ajustado */
      color: white;
      border: none;
    }

    #btnEntrar:hover {
      background-color: #0b5ed7;
    }
>>>>>>> 72a6d2796ed2a8984405316f69365f04a28e3f5a
